.devcontainer/
.git/
.github/
.next/
.swc/
.vscode/
node_modules/
playwright/
playwright-report/
test-results/
.dockerignore
.env*
!.env*.example
.gitignore
docker-compose*.yaml
docker-compose*.yml
Dockerfile*
next-env.d.ts
npm-debug.log
*.md