### DML ###
DB_AUTH_MODE=connection-string
# DB_AUTH_MODE=managed-identity
DATABASE_URL=postgres://postgres:postgres@db:5432/servagre?sslmode=disable
# AZURE_POSTGRESQL_CONNECTIONSTRING=postgres://user@server:5432/dbname?sslmode=require
AUTH_SECRET=SuperSecret
AUTH_TRUST_HOST=true
# P3000
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AUTH_MICROSOFT_ENTRA_ID_ID=
AUTH_MICROSOFT_ENTRA_ID_SECRET=
AUTH_MICROSOFT_ENTRA_ID_ISSUER=https://login.microsoftonline.com/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/v2.0
