services:
  sav:
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        DOCKER_GROUP_ID: ${DOCKER_GROUP_ID:-999}
        USER_ID: ${USER_ID:-1000}
    command: .docker/start.sh
    stop_signal: SIGKILL
    stdin_open: true
    tty: true
    volumes:
      - .:/home/node/app
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.docker/config-read.json:/home/node/.docker/config.json:ro
    ports:
      - 3000:3000
    environment:
      - TESTCONTAINERS_HOST_OVERRIDE=host.docker.internal
    extra_hosts:
      - host.docker.internal:host-gateway

  db:
    image: postgres:18.1-alpine
    restart: unless-stopped
    volumes:
      # - postgres-data:/var/lib/postgresql/data
      - ./.docker/postgres/user/init-user-db.sh:/docker-entrypoint-initdb.d/init-user-db.sh
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      POSTGRES_HOSTNAME: localhost
    ports:
      - 5432:5432

  playwright:
    image: mcr.microsoft.com/playwright:v1.57.0-noble
    ports:
      - "3001:3001"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    init: true
    user: pwuser
    working_dir: /home/pwuser
    command: npx -y playwright@1.57.0 run-server --port 3001 --host 0.0.0.0
    stdin_open: true
    tty: true

# volumes:
# postgres-data:
