services:
  app:
    image: celsopires/service-agreement:prod
    ports:
      - "5000:5000"
    env_file:
      - .env
    extra_hosts:
      - host.docker.internal:host-gateway
    # restart: unless-stopped
    # command: tail -f /dev/null

  nginx:
    container_name: nginx-proxy
    image: nginx:latest
    restart: always
    ports:
      - "80:80"    # HTTP para redirecionamento
      - "443:443"  # HTTPS com SSL/TLS
    volumes:
      # Monta o arquivo de configuração customizado do NGINX
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      # Monta a pasta de certificados para o NGINX
      - ./nginx/certs:/etc/nginx/certs:ro
    depends_on:
      - app 