services:
  sav-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        DOCKER_GROUP_ID: ${DOCKER_GROUP_ID:-999}
        USER_ID: ${USER_ID:-1000}
    command: .docker/start.sh
    stop_signal: SIGKILL
    stdin_open: true
    tty: true
    volumes:
      - .:/home/node/app
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.docker/config-read.json:/home/node/.docker/config.json:ro
    ports:
      - 3000:3000
    environment:
      - TESTCONTAINERS_HOST_OVERRIDE=host.docker.internal
    extra_hosts:
      - host.docker.internal:host-gateway

  db:
    image: postgres:latest
    restart: unless-stopped
    volumes:
      # - postgres-data:/var/lib/postgresql/data
      - ./.docker/postgres/user/init-user-db.sh:/docker-entrypoint-initdb.d/init-user-db.sh
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      POSTGRES_HOSTNAME: localhost
    ports:
      - 5432:5432

# volumes:
# postgres-data:
