name: CI

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  push:
    branches: ["main", "feat/*", "fix/*"]
    # Publish semver tags as releases.
    tags: ["v*.*.*"]
  pull_request:
    branches: ["main"]

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}
  FOLDER_NAME: ${{ github.event.repository.name }}-sav

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Install the cosign tool except on PR
      # https://github.com/sigstore/cosign-installer
      - name: Install cosign
        if: github.event_name != 'pull_request'
        uses: sigstore/cosign-installer@59acb6260d9c0ba8f4a2f9d9b48431a222b68e20 #v3.5.0
        with:
          cosign-release: "v2.2.4"

      # Set up BuildKit Docker container builder to be able to build
      # multi-platform images and export cache
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 # v3.0.0

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@96383f45573cb7f253c731d3b3ab81c87ef81934 # v5.0.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Get Docker GID
        id: docker-gid
        run: echo "DOCKER_GROUP_ID=$(stat -c '%g' /var/run/docker.sock)" >> $GITHUB_ENV

      # - name: Build development
      #   id: build-and-push
      #   uses: docker/build-push-action@0565240e2d4ab88bba5387d719585280857ece09 # v5.0.0
      #   with:
      #     context: .
      #     push: false
      #     tags: ${{ env.FOLDER_NAME }}
      #     cache-from: type=gha
      #     cache-to: type=gha,mode=max
      #     load: true
      #     file: Dockerfile.ci
      #     target: development
      #     build-args: |
      #       DOCKER_GROUP_ID=${{ env.DOCKER_GROUP_ID }}

      - name: up containers
        run: DOCKER_GROUP_ID=${{ env.DOCKER_GROUP_ID }} docker compose -f docker-compose.ci.yaml up -d

      - name: generate envs
        run: |
          docker compose -f docker-compose.ci.yaml exec -u root -T sav cp .env.e2e.example ./.env.e2e

      - name: check docker running
        run: docker compose -f docker-compose.ci.yaml exec -T sav stat -c '%g' /var/run/docker.sock

      - name: run unit and integration tests
        run: docker compose -f docker-compose.ci.yaml exec -T sav npm run test

      - name: Copy coverage report from container
        run: docker compose -f docker-compose.ci.yaml cp sav:/home/node/app/coverage ./coverage

      # - name: install playwright
      #   run: docker compose -f docker-compose.ci.yaml exec -T sav npx playwright install chromium

      - name: run e2e tests
        run: docker compose -f docker-compose.ci.yaml exec -T sav npm run test:e2e

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        if: github.event_name == 'pull_request' || (github.event_name == 'push' && github.ref_name == 'main')
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
